[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kafka-python = "*"
psycopg2-binary = "*"
elasticsearch = "*"
apache-airflow = {extras = ["celery"], version = "*"}
tensorflow = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.8"
